* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #323238;
  --bg-card-color: #e1e1e6;
  --bg-click-card-color: #ccc;
  --color-fill: #323238;
  --bg-fill-click: #323238;

  font-size: 62.5%;
}

.dark-theme {
  --bg-color: #000;
  --text-color: #ffffff;
  --bg-card-color: #29292e;
  --bg-click-card-color: #1f1f23;
  --bg-fill-click: white;
  --color-fill: #c4c4cc;

  transition: 1000ms ease-in-out;
}

svg {
  fill: var(--color-fill);
}

.color-fill {
  fill: var(--bg-fill-click);
}

.selected {
  background: var(--bg-click-card-color) !important;
}

body {
  font-family: "Roboto";
  background: var(--bg-color);
  color: var(--text-color);
}

nav {
  position: fixed;
  top: 6.4rem;
  right: 6.4rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 19.6rem;
}

#timer {
  flex-direction: column;
  padding-right: 19.2rem;
}

span {
  font-size: 126.166px;
  line-height: 14.8rem;
}

#controls {
  display: flex;
  align-items: center;
  gap: 4rem;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.hide {
  display: none;
}

#sounds {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3.2rem;
}

#sounds button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-card-color);
  width: 13.8rem;
  height: 15.2rem;

  border-radius: 2.4rem;
  transition: 1000ms ease;

  transition: transform 0.3s;
}

#sounds button:hover {
  transform: scale(1.1);
}

.vol {
  position: absolute;
  margin: -3rem 2.4rem 0.402rem 2.4rem;
  width: 9rem;
}

.vol {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 5rem;
  background: var(--text-color);
  margin-top: -5px;
}

.vol::-webkit-slider-runnable-track {
  height: 0.5rem;
  background: var(--text-color);
  border-radius: 5rem;
}
